body, html {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 1em auto;
}

.image {
  display: block;
  margin: 20px auto; /* Adjust margins to position images */
}

.image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Center images horizontally */
}

.recipe {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 10%;
}

#food1 {
    width: 100%;
    left: 50%;
    top: 25%;
  }
  #food2 {
    width: 100%;
    left: 50%;
    top: 75%;
  }

/* Responsive styles for different screen sizes */
@media screen and (max-width: 768px) {
  #food1 {
    width: 100%;
    left: 50%;
    top: 25%;
  }
  #food2 {
    width: 100%;
    left: 50%;
    top: 75%;
  }
}













