body, html {
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Ensure images do not overflow outside container */
  overflow-y: auto; /* Enable vertical scrolling */
}

.image {
  display: block;
  margin: 20px auto; /* Adjust margins to position images */
}

.image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Center images horizontally */
}


#food1 {
    width: 100%;
    left: 50%;
    top: 25%;
  }
  #food2 {
    width: 100%;
    left: 50%;
    top: 75%;
  }

/* Responsive styles for different screen sizes */
@media screen and (max-width: 768px) {
  #food1 {
    width: 100%;
    left: 50%;
    top: 25%;
  }
  #food2 {
    width: 100%;
    left: 50%;
    top: 75%;
  }
}











