
body, html {
    margin: 0;
    padding: 0;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center;
    color: white;
}

body[data-status="morning"] div.morning {
    color: crimson;
  }

body[data-status="night"] div.night {
    color: darkred;
  }

body[data-status = "afternoon"] div.afternoon {
    color: darkred;
}

body[data-status="evening"] div.evening {
    color: brown;
  }

p {
    font-family: Arial, sans-serif;
    font-size: 18px; 
    line-height: 1.5; 
}

